In [7]:
import os
import datetime

In [10]:
path = 'C:\Gdrive_Share\pythonCode\streamlit_Info\MC_LIST_OUT.xlsx'
time1 = os.path.getmtime(path)

print(datetime.datetime.fromtimestamp(time1))

2023-04-26 07:58:51.222415

In [23]:
df = pd.read_excel(path)

In [27]:
column_list = ['현재대리점설계사조직코드', 
'현재대리점설계사조직명',
'현재월연속가동',
'이전월연속가동',
'인보험실적',
'인정실적',
'이전월인정실적',
'전전월인정실적',
'실적_1주차',
'실적_2주차',
'실적_3주차',
'실적_4주차',
'실적_5주차']

In [28]:
df1 = df[column_list]

In [30]:
columns_list_mod = ['조직코드',
'조직명',
'연속가동',
'전월가동',
'인보험',
'인정실적',
'인정실적-1',
'인정실적-2',
'실적1주',
'실적2주',
'실적3주',
'실적4주',
'실적5주']

In [31]:
df1.columns = columns_list_mod

In [32]:
df1.head()

,조직코드,조직명,연속가동,전월가동,인보험,인정실적,인정실적-1,인정실적-2,실적1주,실적2주,실적3주,실적4주,실적5주
0,723016377,선진우,0,0,0,0,0,0,0,0,0,0,0
1,722041568,오대진,0,0,25660,25660,11190,10420,25660,0,0,0,0
2,723004061,조민우,0,0,46710,46710,168610,0,33940,12770,0,0,0
3,723012092,김명환,0,0,86120,86120,0,66180,16460,22130,47530,0,0
4,723002061,박호진,0,0,29790,29790,50690,203430,0,13020,16770,0,0

In [47]:


df = pd.read_excel('C:\Gdrive_Share\Documents\사용인별실적(1).xlsx')

지점명 = 'GA2-3지점'

df_1 = df[df['지점조직명']==지점명].copy()

jisa_list = df_1.대리점지사명.unique()

jisa_list

jisa_list.sort()

jisa_list

In [12]:
import pandas as pd

In [3]:
df = pd.read_excel('C:\Gdrive_Share\Documents\사용인별실적(1).xlsx')

In [22]:
column_months = df.columns.tolist()
column_months = [i for i in column_months if i[:1]=="m"]
column_months.sort(reverse=True)
column_months = column_months[:5]

In [27]:
테스트 = ['조직코드','조직명'] + column_months

In [28]:
테스트

['조직코드', '조직명', 'm202303', 'm202302', 'm202301', 'm202212', 'm202211']